package ${packageName};

#foreach ($importClass in $importPackageList)
$importClass
#end

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;

/**
 * ${basic.description}  Manager
 *
 * @author ${basic.backendAuthor}
 * @since ${basic.backendDate}
 */
@Service
public class ${name.upperCamel}Manager extends ServiceImpl<${name.upperCamel}Dao, ${name.upperCamel}Entity> {


}
