package ${packageName};

import io.gitee.dqcer.mcdull.framework.base.support.VO;
#foreach ($importClass in $importPackageList)
$importClass
#end

/**
 * ${basic.description} 列表VO
 *
 * @author ${basic.backendAuthor}
 * @since ${basic.backendDate}
 */

@Data
public class ${name.upperCamel}VO implements VO {

#foreach ($field in $fields)

#if($field.isEnum)
    ${field.apiModelProperty}
    private $field.javaType $field.fieldName;
#end
#if(!$field.isEnum)
    ${field.apiModelProperty}$!{field.dict}$!{field.file}
    private $field.javaType $field.fieldName;
#end
#end

}