<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.gitee.dqcer.mcdull.admin.web.dao.mapper.sys.LogMapper">

    <select id="pagedQuery" resultType="io.gitee.dqcer.mcdull.admin.model.vo.sys.LogVO">
        select
        t.id as id,
        t.account_id as accountId,
        t.tenant_id as tenantId,
        t.client_ip as clientIp,
        t.user_agent as userAgent,
        t.method as method,
        t.path as path,
        t.trace_id as traceId,
        t.time_taken as timeTaken,
        t.parameter_map as parameterMap,
        t.headers as headers,
        m.name as button
        from sys_operation_log t
        left join sys_menu m on m.perms = t.button
    </select>
</mapper>
