package ${packageName};

#foreach ($importClass in $importPackageList)
$importClass
#end
import io.gitee.dqcer.mcdull.framework.base.vo.PagedVO;
import io.gitee.dqcer.mcdull.framework.base.wrapper.Result;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RestController;
import io.swagger.v3.oas.annotations.tags.Tag;
import io.swagger.v3.oas.annotations.Operation;

import javax.annotation.Resource;
import javax.validation.Valid;

/**
 * @author ${basic.backendAuthor}
 * @since ${basic.backendDate}
 */
@RestController
@Tag(name = "${basic.description}")
public class ${name.upperCamel}Controller {

    @Resource
    private ${name.upperCamel}Service ${name.lowerCamel}Service;

    @Operation(summary = "Query page")
    @PostMapping("/${name.lowerCamel}/queryPage")
    public Result<PagedVO<${name.upperCamel}VO>> queryPage(@RequestBody @Valid ${name.upperCamel}QueryForm queryForm) {
        return Result.success(${name.lowerCamel}Service.queryPage(queryForm));
    }

#if($insertAndUpdate.isSupportInsertAndUpdate)
    @Operation(summary = "Add")
    @PostMapping("/${name.lowerCamel}/add")
    public Result<Boolean> add(@RequestBody @Valid ${name.upperCamel}AddForm dto) {
        ${name.lowerCamel}Service.add(dto);
        return Result.success(true);
    }

    @Operation(summary = "Update")
    @PostMapping("/${name.lowerCamel}/update")
    public Result<Boolean> update(@RequestBody @Valid ${name.upperCamel}UpdateForm dto) {
        ${name.lowerCamel}Service.update(dto);
        return Result.success(true);
    }
#end

#if($deleteInfo.isSupportDelete)
    #if($deleteInfo.deleteEnum == "Batch" || $deleteInfo.deleteEnum == "SingleAndBatch")
    @Operation(summary = "Batch Delete")
    @PostMapping("/${name.lowerCamel}/batchDelete")
    public Result<Boolean> batchDelete(@RequestBody List<${primaryKeyJavaType}> idList) {
        ${name.lowerCamel}Service.batchDelete(idList);
        return Result.success(true);
    }
    #end

    #if($deleteInfo.deleteEnum == "Single" || $deleteInfo.deleteEnum == "SingleAndBatch")
    @Operation(summary = "Single Delete")
    @GetMapping("/${name.lowerCamel}/delete/{${primaryKeyFieldName}}")
    public Result<Boolean> batchDelete(@PathVariable ${primaryKeyJavaType} ${primaryKeyFieldName}) {
        ${name.lowerCamel}Service.delete(${primaryKeyFieldName});
        return Result.success(true);
    }
    #end
#end
}
