<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_HOME" value="./new-logs/uac" />
    <property name="LOG_CHARSET" value="UTF-8" />
    <property name="LOG_ROOT_LEVEL" value="INFO" />
    <property name="LOG_DIR" value="${LOG_HOME}/%d{yyyyMMdd}" />
    <property name="LOG_PATTERN" value="-|%d{yyyy-MM-dd HH:mm:ss.SSS}|%p|%X{traceId}|%t|%logger{36}:%line|%m|-%n" />
    <property name="MAX_FILE_SIZE" value="50MB" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/run.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR" />
    <logger name="com.alibaba.nacos.client.naming" level="warn" />
    <logger name="com.dqcer" level="INFO" />

    <root level="${LOG_ROOT_LEVEL}">
        <appender-ref ref="${log.appender:-STDOUT}" />
    </root>

</configuration>