package ${packageName};

#foreach ($importClass in $importPackageList)
$importClass
#end

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;
import java.util.List;


/**
 * ${basic.description} 数据库操作封装接口层
 *
 * @author ${basic.backendAuthor}
 * @since ${basic.backendDate}
 */
public interface I${name.upperCamel}Repository extends IService<${name.upperCamel}Entity> {


    List<${name.upperCamel}Entity> queryListByIds(List<Integer> idList);

    Page<${name.upperCamel}Entity> selectPage($cfg.dtoName param);

    ${name.upperCamel}Entity getById(Long id);

    Integer insert(${name.upperCamel}Entity entity);

    void deleteBatchByIds(List<Integer> ids);

    boolean exist(${name.upperCamel}Entity entity);
}
