<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.gitee.dqcer.mcdull.workflow.web.dao.ExecuteMapper">

    <select id="getTodoList" resultType="io.gitee.dqcer.mcdull.workflow.model.vo.FlowTaskVO">
        SELECT
            distinct t.id,
            t.node_code,
            t.node_name,
            t.node_type,
            t.definition_id,
            t.instance_id,
            t.create_time,
            t.update_time,
            t.tenant_id,
            t.flow_status,
            i.business_id,
            i.activity_status,
            d.flow_name,
            t.form_custom,
            t.form_path
        FROM flow_task AS t
        LEFT JOIN flow_user uu ON uu.associated = t.id
        LEFT JOIN flow_definition d on t.definition_id = d.id
        LEFT JOIN flow_instance i on t.instance_id = i.id
        <where>
            t.node_type = 1
            <if test="task.permissionList != null and task.permissionList.size > 0">
                AND  uu.processed_by in
                <foreach item="permission" collection="task.permissionList" open="(" separator="," close=")">
                    #{permission}
                </foreach>
            </if>
            <if test="task.nodeCode != null and task.nodeCode != ''">and t.node_code = #{task.nodeCode}</if>
            <if test="task.nodeName != null and task.nodeName != ''">and t.node_name like concat('%',
                #{task.nodeName}, '%')
            </if>
            <if test="task.instanceId != null ">and t.instance_id = #{task.instanceId}</if>
        </where>
        order by t.create_time desc
    </select>
    <select id="copyPage" resultType="io.gitee.dqcer.mcdull.workflow.model.vo.FlowHisTaskVO">
        SELECT
            b.create_by as approverUserId
            b.flow_status,
            b.business_id,
            a.create_time,
            b.node_name,
            b.id ,
            d.flow_name
        FROM
        `flow_user` a
        LEFT JOIN flow_instance b ON a.associated = b.id
        LEFT JOIN flow_definition d on b.definition_id=d.id
        WHERE
        a.type = 4
        <if test="task.flowName != null and task.flowName != ''">and d.flow_name like concat('%',
            #{task.flowName}, '%')
        </if>
        <if test="task.nodeName != null and task.nodeName != ''">and b.node_name like concat('%',
            #{task.nodeName}, '%')
        </if>
        <if test="task.nodeType != null">and b.node_type = #{task.nodeType}</if>
        ORDER BY create_time DESC
    </select>

</mapper>