package ${packageName};

#foreach ($importClass in $importPackageList)
$importClass
#end
import net.lab1024.sa.base.common.util.SmartBeanUtil;
import net.lab1024.sa.base.common.util.SmartPageUtil;
import net.lab1024.sa.base.common.domain.ResponseDTO;
import io.gitee.dqcer.mcdull.framework.base.vo.PagedVO;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.apache.commons.collections4.CollectionUtils;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import javax.annotation.Resource;

/**
 * ${basic.description} Service
 *
 * @author ${basic.backendAuthor}
 * @since ${basic.backendDate}
 */

@Service
public class ${name.upperCamel}Service {

    @Resource
    private ${name.upperCamel}Dao ${name.lowerCamel}Dao;

    public PageResult<${name.upperCamel}VO> queryPage(${name.upperCamel}QueryForm queryForm) {
        Page<?> page = SmartPageUtil.convert2PageQuery(queryForm);
        List<${name.upperCamel}VO> list = ${name.lowerCamel}Dao.queryPage(page, queryForm);
        PageResult<${name.upperCamel}VO> pageResult = SmartPageUtil.convert2PageResult(page, list);
        return pageResult;
    }

#if($insertAndUpdate.isSupportInsertAndUpdate)
    @Transactional(rollbackFor = Exception.class)
    public void add(${name.upperCamel}AddForm addForm) {
        ${name.upperCamel}Entity ${name.lowerCamel}Entity = SmartBeanUtil.copy(addForm, ${name.upperCamel}Entity.class);
        ${name.lowerCamel}Dao.insert(${name.lowerCamel}Entity);
    }


    @Transactional(rollbackFor = Exception.class)
    public void update(${name.upperCamel}UpdateForm updateForm) {
        ${name.upperCamel}Entity ${name.lowerCamel}Entity = SmartBeanUtil.copy(updateForm, ${name.upperCamel}Entity.class);
        ${name.lowerCamel}Dao.updateById(${name.lowerCamel}Entity);
    }
#end

#if($deleteInfo.isSupportDelete)
    #if($deleteInfo.deleteEnum == "BATCH" || $deleteInfo.deleteEnum == "SingleAndBatch")
    @Transactional(rollbackFor = Exception.class)
    public void batchDelete(List<${primaryKeyJavaType}> idList) {
### 真删除 or 假删除
#if(!${deleteInfo.isPhysicallyDeleted})
        ${name.lowerCamel}Dao.batchUpdateDeleted(idList, true);
#else
        ${name.lowerCamel}Dao.deleteBatchIds(idList);
#end
        return ResponseDTO.ok();
    }
    #end

    #if($deleteInfo.deleteEnum == "Single" || $deleteInfo.deleteEnum == "SingleAndBatch")
    @Transactional(rollbackFor = Exception.class)
    public void delete(${primaryKeyJavaType} ${primaryKeyFieldName}) {
### 真删除 or 假删除
#if(!${deleteInfo.isPhysicallyDeleted})
        ${name.lowerCamel}Dao.updateDeleted(${primaryKeyFieldName},true);
#end
#if(${deleteInfo.isPhysicallyDeleted})
        ${name.lowerCamel}Dao.deleteById(${primaryKeyFieldName});
#end
    }
    #end
#end
}
